<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/mobile.css" />
  <link rel="stylesheet" href="/styles/demo.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <div class="logo-container">
      <img src="https://http.cat/214" alt="" class="large-logo">
      <img src="https://http.cat/308" alt="" class="small-logo">
    </div>
    <div class="nav-button-container">
      <h3><a href="#">News + Features</a></h3>
      <h3><a href="#">Videos</a></h3>
      <h3><a href="#">Films</a></h3>
      <h3><a href="#">Series</a></h3>
      <h3><a href="#">Games + Interactive</a></h3>
      <h3><a href="#">Databank</a></h3>
      <h3><a href="#">Disney +</a></h3>
    </div>
    
    <div class="mobile">
      <div class="hamburger">
        <h1>=</h1>
      </div>
      <div class="mobile-button-container">
        <div class="x-container">
          <h1>X</h1>
        </div>
        <h3><a href="#">News + Features</a></h3>
        <h3><a href="#">Videos</a></h3>
        <h3><a href="#">Films</a></h3>
        <h3><a href="#">Series</a></h3>
        <h3><a href="#">Games + Interactive</a></h3>
        <h3><a href="#">Databank</a></h3>
        <h3><a href="#">Disney +</a></h3>
      </div>
    </div>
  </nav>

</body>

</html>